*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(214, 214, 214);
    margin: auto;
    width: 80%;
    font-family: 'Anybody', cursive;
}

header .top{
    background-color: rgb(74, 0, 96);
    color: rgb(255, 208, 0);
    padding: 10px;
    display: flex;
}

header .top h1{
    border-bottom: 3px solid rgb(255, 208, 0);
    font-size: 22px;
    font-family: 'Press Start 2P', cursive;
    margin-left: 100px;
}

header .top span{
    color: white;
}

main{
    margin: auto;
    width: 100%;
    height: 800px;
    background-color: white;
}

main .container .content{
}

main .instructions{
    transform: translate(-50%, -50%);
    top: 20%;
    left: 50%;

    width: 50%;
    height: 20%;

    position: absolute;
    background-color: azure;

    border: 2px dashed black;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: hidden;
}

footer .bot{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .bot{
    font-weight: bold;
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: rgb(74, 0, 96);
    padding: 5px;
    bottom: 0;
    position: absolute;
    cursor: pointer;

}

footer .bot{
    font-size: 16px;
    color: rgb(255, 255, 255);
    transition: color 1s;
}

footer .bot:hover{
    color: rgb(255, 209, 70);
}

main .instructions img{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
    cursor: pointer;
}

main .instructions ul li{
    font-weight: 600;
    margin: 30px;
}

main .images img{
    width: 200px;
}

main .images{

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;
}